$main:#19A44B;
$black: #141A1F;
$gray:#898989;
$gray-light:#ccc;
$gray-light2:rgb(216, 216, 216);
$gray-light3:rgb(232, 232, 232);
$white:#fff;
$red:rgb(255, 57, 57);
$danger:#C14B38;
$off-white:#F5F5F5;
$muted:#6c757d;
$warning:rgb(255,193,7);