<section class="bg-img-main contactUs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="fa-4x">
                    <span class="txt-main">{{"contacts.contactUs.title" | translate}}</span>
                </h1>
                <p class="text-muted txt-font">{{"contacts.contactUs.desc" | translate}}</p>

                <div class="row icons w-90">
                        <div class="col-md-6 my-3">
                                <div class="item shadow-lg bg-white py-4 rounded-lg text-center header-font"   #Branches routerLink="../branches"
                                (mouseover)="hover(Branches, '../../../../../assets/images/contact-us/branch_white.png');" 
                                (mouseout)="unhover(Branches, '../../../../../assets/images/contact-us/branch_green.png');">
                                    <div class="flex-center flex-column h-100">
                                        <img src="../../../../../assets/images/contact-us/branch_green.png"  alt="">
                                        <div class="pt-2">{{"contacts.contactUs.ourBranches" | translate}}</div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-6 my-3">
                                <div class="item shadow-lg bg-white py-4 rounded-lg text-center header-font"   #SocialMedia routerLink="../social-media"
                                (mouseover)="hover(SocialMedia, '../../../../../assets/images/contact-us/media_white.png');" 
                                (mouseout)="unhover(SocialMedia, '../../../../../assets/images/contact-us/media_green.png');">
                                    <div class="flex-center flex-column h-100">
                                        <img src="../../../../../assets/images/contact-us/media_green.png"  alt="">
                                        <div class="pt-2">{{"contacts.contactUs.socialMedia" | translate}}</div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-12 my-3">
                                <div class="item shadow-lg bg-white py-4 rounded-lg text-center header-font"   #EmailUs routerLink="../email-us"
                                (mouseover)="hover(EmailUs, '../../../../../assets/images/contact-us/email_white.png');" 
                                (mouseout)="unhover(EmailUs, '../../../../../assets/images/contact-us/email_green.png');">
                                    <div class="flex-center flex-column h-100">
                                        <img src="../../../../../assets/images/contact-us/email_green.png"  alt="">
                                        <div class="pt-2">{{"contacts.contactUs.emailUs" | translate}}</div>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-6 flex-center my-3">
                <img src="../../../../../assets/images/kisspng-hamburg.png" class="w-80" alt="">
            </div>
        </div>
    </div>
</section>
