<div class="content rounded-lg p-5 pb-3 shadow-lg bg-white" style="height: 775px;overflow: auto;">
    <h3 class="txt-main mb-4 text-center">{{'terms.title' | translate}}</h3>
    <ol style="list-style: decimal-leading-zero;">
        <li>{{'terms.desc.role1' | translate}}</li>
        <li>{{'terms.desc.role2' | translate}}</li>
        <li>{{'terms.desc.role3' | translate}}</li>
        <li>{{'terms.desc.role4' | translate}}</li>
        <li>{{'terms.desc.role5' | translate}}</li>
        <li>{{'terms.desc.role6' | translate}}</li>
        <li>{{'terms.desc.role7' | translate}}</li>
    </ol>
    <h3 class="txt-main my-4 text-center">{{'terms.title2' | translate}}</h3>
    <p>{{'terms.title2_desc' | translate}}</p>
</div>