@import '../../../../../assets/styles/variables/colors.scss';
#Appointments .Dates{
    transition: all .5s;
}
#Appointments .Dates:hover{
    background-color: $main !important;
    cursor: pointer;
    color: $white;
}

#Appointments .Dates.active{
    background-color: $main !important;
    color: $white;
}

.ui-widget-header{
    border: none;
    background-color: transparent;
}
.ui-widget.ui-widget-content{
    background-color: $white;
    width: 100%;
    border: none;
    border-radius: 5%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.ui-state-default, .ui-widget-content .ui-state-default{
    font-weight: bold;
    border: none;
    background-color: transparent;
    text-align: center;
}

.ui-datepicker table{
    margin-top: 20px;
}
.ui-state-active, .ui-widget-content .ui-state-active{
    color: $main;
}
.ui-state-hover{
    cursor: pointer;
}

:host{
    ::ng-deep .p-datepicker{
        border: none;
        border-radius: 16px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
    ::ng-deep .p-calendar{
        height: 100%;
    }
    ::ng-deep .p-ripple:not(.p-disabled){
        font-weight: 700;
    }
    
}

