<section>
    <div class="container">
        <div class="row mt-3 align-items-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="../../../../../assets/images/logo/LC_LOGO (1).png" alt="" class="img-fluid pointer" routerLink="../../home">
                </div>
                <h1 class="my-4 text-center h2">
                    <span class="txt-main">{{'Auth.forgetPassowrd.title' | translate}}</span>
                </h1>
                <div class="text-center w-75 m-auto txt-font mt-5">
                    <p-messages *ngIf="isSubmit" [(value)]="msg"></p-messages>
                    <form [formGroup]='forgotForm' (ngSubmit)='onSubmit(forgotForm,submitBtn)'>
                        <div class="my-5 position-relative">
                            <input class="p-3 form-controller" placeholder="{{'Auth.forgetPassowrd.email' | translate}}" type="email" formControlName='email' />
                                <div class="text-start">
                                    <small class="text-danger ms-1" *ngIf="forgotForm.get('email')?.touched &&
                                    forgotForm.get('email')?.hasError('email')">{{'errors.email' | translate}}</small>
                                    <small class="text-danger ms-1" *ngIf="forgotForm.get('email')?.touched &&
                                    forgotForm.get('email')?.hasError('required')">{{'errors.required' | translate}}</small>
                                </div>
                        </div>
                        <button #submitBtn class="btn bg-main text-white rounded-pill px-5 py-3 header-font f-size-md w-100" type="submit" 
                        [disabled]="forgotForm.invalid">{{'Auth.forgetPassowrd.send' | translate}}</button>
                    </form>
                </div>

            </div>
            <div class="col-lg-6 flex-center mt-5">
                <img src="../../../../../assets/images/kisspng-hamburg.png" class="w-80" alt="">
            </div>
        </div>
    </div>
</section>


