.number span {
    cursor: pointer;
}

// .number {
//     margin: 100px;
// }

.minus,
.plus {
    width: 33px;
    height: 33px;
    background: #19A44B;
    border-radius: 4px;
    color: #fff;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
}

input.meal-count {
    height: 34px;
    width: 80px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}