<div class="content rounded-lg p-5 pb-3 shadow-lg bg-white" style="height: 775px;overflow: auto;">
    <h4 class="txt-main mb-3">{{"profile.changePassword.title" | translate}}</h4>
    <p class="text-muted">{{"profile.changePassword.desc" | translate}}</p>

    <div class="my-4">
        <span class="txt-font">{{"profile.changePassword.currentPassword" | translate}} <span class="text-danger">*</span></span>
        <p-password [(ngModel)]="CurrentPassword" width="100%" [toggleMask]="true"></p-password>
    </div>
    <div class="my-4">
        <span class="txt-font">{{"profile.changePassword.newPassword" | translate}} <span class="text-danger">*</span></span>
        <p-password [(ngModel)]="NewPassword" [toggleMask]="true"></p-password>
    </div>
    <div class="my-4">
        <span class="txt-font">{{"profile.changePassword.confirmNewPassword" | translate}} <span class="text-danger">*</span></span>
        <p-password [(ngModel)]="ConfirmNewPassword" [toggleMask]="true"></p-password>
    </div>

    <button class="btn bg-main py-2 px-4 text-white rounded-md txt-font-bold" (click)="resetPassword()">
        <span class="px-3">{{"buttons.changePassword" | translate}}</span>
    </button>
</div>  