:host{
    ::ng-deep .p-password{
        width: 100%;
        .p-password-input{
            border: none;
            width: 100% !important;
            border-bottom: 1px solid;
            border-radius: 0;
            padding-top: 0px;
        }
    }
}