@import '../../../../../assets/styles/variables/colors.scss';
.content .question{
    transition: all .5s;
}
.content .question:hover{
    color: $white;
    background-color: $main !important;
}
.content .user .bubble{
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin:4px 15px 0px 15px;
    padding: 6px 14px;
    vertical-align: top;
    background-color: $main !important;
    border-radius: 5px;
    color: $white;
}

.content .user .bubble:before{
    position: absolute;
    top: 8px;
    display: block;
    width: 20px;
    height: 20px;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
    right: -3px;
    border-radius: 3px;
    background-color: $main;
}