.addAddress {
    background-color: #19A44B;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}